<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon fa-paper-plane"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="javascript:;" class="navbar-brand text-lt">
        <i class="fa fa-paper-plane"></i>
        <img src="img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="headerNav collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <!--<a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">-->
            <!--<i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>-->
        <!--</a>-->
        <p class='systemTitle'>信息发布系统</p>
        <p class='sysTitleEn'>Multimedia Publishing System</p>


    </div>
    <!-- / buttons -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">

        <li class="userInfo">
            <!--<span class='userId'>账号ID：{{adminId}}</span><br>-->
            <span class='userId'></span><br>
            <span class='userName'>{{adminName}}，您好！</span>
        </li>
        <li class='logOut' title='退出' ng-click='logout()'>
            <!--<i class='lououtIcon'></i>-->
            <i class='iconfont icon-tuichu1'></i>
        </li>






        <!--<li class="hidden-xs">-->
            <!--<a ui-fullscreen></a>-->
        <!--</li>-->
        <!--<li class="dropdown" dropdown>-->
            <!--<a href class="dropdown-toggle clear" dropdown-toggle>-->
              <!--<span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">-->
                <!--<img src="img/a0.jpg" alt="...">-->
                <!--<i class="on md b-white bottom"></i>-->
              <!--</span>-->
                <!--<span class="hidden-sm hidden-md"></span> <b class="caret"></b>-->
            <!--</a>-->
            <!--&lt;!&ndash; dropdown &ndash;&gt;-->
            <!--<ul class="dropdown-menu animated fadeInRight w">-->
                <!--<li>-->
                    <!--<a href="#">Logout</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
        <!--</li>-->
    </ul>
    <!-- / navbar right -->

</div>