<div class="timeInputGroup"  >
    <input class='timeInput' type="tel"  maxlength="1" ng-model='hourTen' onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"><!-
    -><input class='timeInput' type="tel"  maxlength="1" ng-model='hourOne' onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">：<input onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class='timeInput' type="tel"  maxlength="1" ng-model='minTen'><!-
    -><input class='timeInput' type="tel"  maxlength="1" ng-model='minOne' onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"><!-
    ->
    <!--<span ng-if='hBool'>输入的时间有误</span>-->
</div>

