#advertisementDesc{
  //dff:default-font-family
  @dff : "΢���ź�";
  font-family: "΢���ź�";
  .tabs{
    display: inline-block;
    padding-top: 12px;
    margin-bottom: 20px;
    a{
      color: #f6911a;
      &:hover{
        color: #f6911a ;
      }
    }

  }
  //TAB����
  .member-header {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    .managers {
      cursor: pointer;
      height: 38px;
      width: 256px;
      float: left;
      overflow: hidden;
      border-radius: 2px;
      i {
        padding: 5px;
      }
      .manager {
        width: 128px;
        height: 38px;
        line-height: 38px;
        font-size: 14px;
        float: left;
        text-align: center;
        background-color: #fff;
        color: #889098;

        &:nth-of-type(2):hover {
          color: #fff;
          background-color: #6f6a64;
          //font-size: 16px;
          border-right: 2px solid #f6911a;
          box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
        }
      }
      .chengyuan {
        color: #fff;
        background-color: #6f6a64;
        //font-size: 16px;
        border-left: 2px solid #f6911a;
        box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
      }
    }

    .header-right {
      float: right;
      height: 38px;
      width: 350px;
      line-height: 38px;
      height: 45px;
      .search {
        width: 198px;
        height: 36px;
        float: left;
        color: #889098;
        border: 1px solid rgb(196, 200, 204);
        border-radius: 2px;
        margin-right: 20px;
        overflow: hidden;
        border-width: 1px;
        position: relative;
        i {
          padding: 5px;
        }
        .search-box {
          height: 34px;
          width: 160px;
          border: none;
          position: absolute;
          background-color: #eceeef;

        }
      }
      .delete {
        width: 128px;
        height: 36px;
        line-height: 36px;
        float: right;
        background-color: #fff;
        color: #f6911a;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        color: #889098;
        border: 1px solid #c4c8cc;
        transition: box-shadow 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
        &:hover {
          background-color: #fff;
          color : #f6911a;
          border: 1px solid rgba(0,0,0,0);
          //box-shadow: 0 0 10px #d6d4d0;
          box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
        }
        i {
          padding: 5px;
        }
      }
    }


  }

  .adInfo{
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 5px 18px 0px rgba(119, 97, 71, 0.21);
    //padding-top: 60px;
    //padding-left: 60px;
    h1{
      color: #27231e;
      font-size: 16px;
    }
    .time{
      //width: 100%;
      height: 15px;
      span{
        float: left;
        color: #a7afb7;
        font-size: 10px;
        margin-right: 25px;
      }
    }
    .infoList{
      width: 820px;
      margin-top: 22px;
      //height: 25px;
      overflow: hidden;
      .infoDesc{
       float: left;
        width: 362px;
        //margin-right: 65px;
        .name{
          font-size: 12px;
          color: #889098;
          line-height: 25px;
          width: 85px;
          float: left;
        }
        p{
          width: 275px;
          border-bottom: 1px solid #e6e9ec;
          font-size: 12px;
          color: #28241f;
          float: left;
          margin-bottom: 0;
          height: 25px;
          line-height: 25px;

        }
        .selectTime{
          overflow: hidden;
          border-bottom: 1px solid #e6e9ec;
          p{
            border-bottom: 0;
            width: 105px;
            margin-right: 20px;
          }
          .name2{
            font-size: 12px;
            color: #889098;
            line-height: 25px;
            //width: 85px;
            float: left;
            margin-bottom: 10px;
            span{
              font-size: 12px;
              color: #889098;
              line-height: 25px;
              width: 80px;
              //float: left;
              display: inline-block;
              text-align: center;
              border-bottom: 1px solid #e6e9ec;
            }
          }
        }
        .preview{
          width: 1290px;
          overflow: hidden;
          float: left;
          .preLeft{
            float: left;
          }
          .preRight{
            margin-left: 5px;
            width: 180px;
            float: left;
            img{
              width: 180px;
              height: 101px;
              margin-bottom: 3px;
              border-radius: 5px;
            }
          }
          .longPic{
            img{
              width: 180px;
              height: 310px;
              margin-bottom: 0px;
              border-radius: 5px;
            }
          }
          .preRight1{
            width: 142px;
            float: left;
            margin-left: 3px;
            margin-right: 3px;
            img{
              width: 142px;
              height: 255px;
              margin-bottom: 0px;
              border-radius: 5px;
            }
          }
        }
      }
      .infoPre{
        width: 100%;
        margin-bottom: 50px;
      }
      .fr{
        float: right;
      }
    }
  }
  .ml60{
    margin-left: 60px;
  }
  .mt60{
    margin-top: 60px;
  }
  .video-js .vjs-big-play-button {
    color: #332e29;
    background: #fff;
    border-radius: 50%;
    border: 0;
    line-height: 2em;
    height: 2em;
    width: 2em;
    font-size: 16px;
  }
  .video-js {
    border-radius: 5px;
  }
  .vjs-paused .vjs-big-play-button{
    display: block;
  }
  .video-body{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cfd3d6;
    position: relative;
    width: 550px;
    height: 310px;

  }
  .video-body1{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cfd3d6;
    position: relative;
    width: 455px;
    height: 255px;

  }
  #game{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
    span{
      margin-top: 80px;
      margin-left: 230px;
      width: 100px;
      height: 100px;
      float: left;
      background: url("../../img/zip.png");
      margin-bottom: 10px;
    }
    p{
      clear: both;
      font-size: 12px;
      color: #28241f;
      text-align: center;
      margin-top: 20px;
      display: inline;
      border: 0;
      width: 100%;
    }
  }

  .header-right {
    width: 100%;
    clear: both;
    line-height: 38px;
    height: 45px;
    position: relative;
    margin-bottom: 50px;
    .middle{
      width: 130px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%,0);
      .search {
        width: 198px;
        height: 36px;
        float: left;
        color: #889098;
        border: 1px solid rgb(196, 200, 204);
        border-radius: 2px;
        margin-right: 20px;
        overflow: hidden;
        border-width: 1px;
        position: relative;
        i {
          padding: 5px;
        }
        .search-box {
          height: 34px;
          width: 160px;
          border: none;
          position: absolute;
          background-color: #eceeef;

        }
      }
      .delete {
        width: 128px;
        height: 36px;
        line-height: 36px;
        float: right;
        background-color: #fff;
        color: #f6911a;
        margin-left: 20px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        color: #889098;
        border: 1px solid #c4c8cc;
        transition: box-shadow 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
        &:hover {
          background-color: #fff;
          color : #f6911a;
          border: 1px solid rgba(0,0,0,0);
          //box-shadow: 0 0 10px #d6d4d0;
          box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
        }
        i {
          padding: 5px;
        }
      }
    }

  }
}

//���
#examineDesc{
  //dff:default-font-family
  @dff : "΢���ź�";
  font-family: "΢���ź�";
  .tabs{
    float: left;
    display: inline-block;
    padding-top: 12px;
    margin-bottom: 20px;
    a{
      color: #f6911a;
      &:hover{
        color: #f6911a ;
      }
    }

  }
  //TAB����
  .member-header {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    .managers {
      cursor: pointer;
      height: 38px;
      width: 256px;
      float: left;
      overflow: hidden;
      border-radius: 2px;
      i {
        padding: 5px;
      }
      .manager {
        width: 128px;
        height: 38px;
        line-height: 38px;
        font-size: 14px;
        float: left;
        text-align: center;
        background-color: #fff;
        color: #889098;

        &:nth-of-type(2):hover {
          color: #fff;
          background-color: #6f6a64;
          //font-size: 16px;
          border-right: 2px solid #f6911a;
          box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
        }
      }
      .chengyuan {
        color: #fff;
        background-color: #6f6a64;
        //font-size: 16px;
        border-left: 2px solid #f6911a;
        box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
      }
    }




  }

  .mediaList {
    margin-top: 20px;
  }

  .adInfo{
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 5px 18px 0px rgba(119, 97, 71, 0.21);
    //padding-top: 60px;
    //padding-left: 60px;
    h1{
      color: #27231e;
      font-size: 16px;
    }
    .time{
      //width: 100%;
      height: 15px;
      span{
        float: left;
        color: #a7afb7;
        font-size: 10px;
        margin-right: 25px;
      }
    }
    .infoList{
      width: 685px;
      margin-top: 22px;
      //height: 25px;
      overflow: hidden;
      .infoDesc{
        float: left;
        width: 295px;
        margin-right: 20px;
        //margin-right: 65px;
        .name{
          font-size: 12px;
          color: #889098;
          line-height: 25px;
          width: 85px;
          float: left;
        }
        p{
          width: 210px;
          border-bottom: 1px solid #e6e9ec;
          font-size: 12px;
          color: #28241f;
          float: left;
          margin-bottom: 0;
          height: 25px;
          line-height: 25px;
        }
        .selectTime{
          overflow: hidden;
          border-bottom: 1px solid #e6e9ec;
          p{
            border-bottom: 0;
            width: 105px;
            margin-right: 20px;
          }
          .name2{
            font-size: 12px;
            color: #889098;
            line-height: 25px;
            //width: 85px;
            float: left;
            margin-bottom: 10px;
            span{
              font-size: 12px;
              color: #889098;
              line-height: 25px;
              width: 80px;
              //float: left;
              display: inline-block;
              text-align: center;
              border-bottom: 1px solid #e6e9ec;
            }
          }
        }
        .preview{
          width: 683px;
          overflow: hidden;
          float: left;
          clear: both;
          .preLeft{
            float: left;
          }
          .preRight{
            width: 180px;
            float: right;
            img{
              width: 180px;
              height: 101px;
              margin-bottom: 3px;
              border-radius: 5px;
            }
          }
          .longPic{
            img{
              width: 180px;
              height: 310px;
              margin-bottom: 0px;
              border-radius: 5px;
            }
          }

        }
      }
      .infoPre{
        width: 100%;
        margin-bottom: 50px;
      }
      .fr{
        float: right;
      }
    }
  }
  .adInfo1{
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 5px 18px 0px rgba(119, 97, 71, 0.21);
    //padding-top: 60px;
    //padding-left: 60px;
    h1{
      color: #27231e;
      font-size: 16px;
    }
    .time{
      //width: 100%;
      height: 15px;
      span{
        float: left;
        color: #a7afb7;
        font-size: 10px;
        margin-right: 25px;
      }
    }
    .infoList{
      width: 100%;
      margin-top: 22px;
      //height: 25px;
      overflow: hidden;
      .infoDesc{
        float: left;
        width: 295px;
        margin-right: 20px;
        //margin-right: 65px;
        .name{
          font-size: 12px;
          color: #889098;
          line-height: 25px;
          width: 85px;
          float: left;
        }
        p{
          width: 210px;
          border-bottom: 1px solid #e6e9ec;
          font-size: 12px;
          color: #28241f;
          float: left;
          margin-bottom: 0;
          height: 25px;
          line-height: 25px;
        }
        .selectTime{
          overflow: hidden;
          border-bottom: 1px solid #e6e9ec;
          p{
            border-bottom: 0;
            width: 105px;
            margin-right: 20px;
          }
          .name2{
            font-size: 12px;
            color: #889098;
            line-height: 25px;
            //width: 85px;
            float: left;
            margin-bottom: 10px;
            span{
              font-size: 12px;
              color: #889098;
              line-height: 25px;
              width: 80px;
              //float: left;
              display: inline-block;
              text-align: center;
              border-bottom: 1px solid #e6e9ec;
            }
          }
        }
        .preview{
          width: 100%;
          overflow: hidden;
          float: left;
          clear: both;
          .preLeft{
            float: left;
          }
          .preRight{
            width: 180px;
            float: left;
            img{
              width: 180px;
              height: 101px;
              margin-bottom: 3px;
              border-radius: 5px;
            }
          }
          .longPic{
            img{
              width: 180px;
              height: 310px;
              margin-bottom: 0px;
              border-radius: 5px;
            }
          }
        }
      }
      .infoPre{
        width: 100%;
        margin-bottom: 50px;
      }
      .fr{
        float: right;
      }
    }
  }
  .infoRight{
    .infoList{
      width: 330px;
    }
  }
  .ml40{
    margin-left: 40px;
  }
  .ml30{
    margin-left:30px;
  }
  .ml10{
    margin-left: 10px;
  }
  .mt40{
    margin-top: 40px;
  }
  .video-js .vjs-big-play-button {
    color: #332e29;
    background: #fff;
    border-radius: 50%;
    border: 0;
    line-height: 2em;
    height: 2em;
    width: 2em;
    font-size: 16px;
  }
  .video-js {
    border-radius: 5px;
  }
  .vjs-paused .vjs-big-play-button{
    display: block;
  }
  .video-body{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cfd3d6;
    position: relative;
    width: 500px;
    height: 310px;
  }

  .infoLeft{
    //width: 50%;
    float: left;
  }
  .infoRight{
    width: 380px;
    float: right;
  }
  .icon-gougou{
    position: relative;
    top: 2px;
    font-size: 14px;
    color: #5e88df;
  }
  .money{
    margin-right: 20px;
  }
  #game{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
    span{
      margin-top: 80px;
      margin-left: 205px;
      width: 100px;
      height: 100px;
      float: left;
      background: url("../../img/zip.png");
      margin-bottom: 10px;
    }
    p{
      clear: both;
      font-size: 12px;
      color: #28241f;
      text-align: center;
      margin-top: 20px;
      display: inline;
      border: 0;
      width: 100%;
    }
  }

  .header-right {
    width: 100%;
    clear: both;
    line-height: 38px;
    height: 45px;
    position: relative;
    top: 40px;
    .middle{
      width: 350px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%,0);
      .search {
        width: 198px;
        height: 36px;
        float: left;
        color: #889098;
        border: 1px solid rgb(196, 200, 204);
        border-radius: 2px;
        margin-right: 20px;
        overflow: hidden;
        border-width: 1px;
        position: relative;
        i {
          padding: 5px;
        }
        .search-box {
          height: 34px;
          width: 160px;
          border: none;
          position: absolute;
          background-color: #eceeef;

        }
      }
      .delete {
        width: 128px;
        height: 36px;
        line-height: 36px;
        float: right;
        background-color: #fff;
        color: #f6911a;
        margin-left: 20px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        color: #889098;
        border: 1px solid #c4c8cc;
        transition: box-shadow 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
        &:hover {
          background-color: #fff;
          color : #f6911a;
          border: 1px solid rgba(0,0,0,0);
          //box-shadow: 0 0 10px #d6d4d0;
          box-shadow: 0px 0px 10px 0px rgba(119, 97, 71, 0.2);
        }
        i {
          padding: 5px;
        }
      }
    }

  }
}

//��ӵ�λ
#setPointModal{
  .optiscroll-h{
    display: none !important;
    .optiscroll-htrack{
      display: none !important;
    }
  }
  width: 860px;
  padding: 40px 40px;
  .pointHead{
    width: 100%;
    height: 70px;
    .title{
      float: left;
      color: #27231e;
      font-size: 16px;
    }
    .locationGroup{
      float: left;
      font-size: 14px;
      color: #889098;
      line-height: 40px;
      margin-left: 132px;
      .chooseCity{
        margin-left: 6px;
      }
      select{
        width: 88px;
        height: 38px;
        font-size: 14px;
        text-indent: 8px;
        border: 1px solid #cfd3d6;
        border-radius: 2px;
        font-weight: 500;
      }
    }
    .searchGroup{
      float: right;
      width: 200px;
      i{
        top: 10px;
        cursor: pointer;
        color: #889098;
      }
      .input{
        width: 200px;
        height: 40px;
        border-radius: 2px;
        margin-bottom: 20px;
      }
    }
  }
  .siteHead{
    width: 360px;
    height: 30px;
    .i-checks{
      float: left;
      margin-top: -2px;
      margin-right: 20px;
      width: 12px;
      height: 12px;
      input,input[type="radio"], input[type="checkbox"]{
        display: none;
      }
      input:checked + i:before {
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        background-color: #f6911a;
      }
    }
    .i-checks > i{
      width: 12px;
      height: 12px;
      border: 1px solid #f6911a;
    }
    border-bottom: 1px solid #e6e9ec;
    span{
      width: 100px;
      margin-right: 40px;
      text-align: center;
      font-size: 12px;
      color: #889098;
      display: block;
      float: left;
    }
    .site{
      color: #889098;
      text-align: left;
    }
  }
  .memLeft{
    border-right: 1px solid #e6e9ec;
    width: 390px;
    height: 425px;
    padding-right: 30px;
    float: left;

    .memList{
      width: 360px;
      height: 410px;
      overflow: hidden;
      .roleItem{
        height: 45px;
        width: 360px;
        //margin-bottom: 10px;
        .i-checks{
          float: left;
          margin-top: 12px;
          margin-right: 20px;
          width: 12px;
          height: 12px;
          input,input[type="radio"], input[type="checkbox"]{
            display: none;
          }
          input:checked + i:before {
            top: 2px;
            left: 2px;
            width: 6px;
            height: 6px;
            background-color: #f6911a;
          }
        }
        .i-checks > i{
          width: 12px;
          height: 12px;
          border: 1px solid #f6911a;
        }
        .email{
          font-size: 12px;
          color: #28241f;
          width: 180px;
        }
        span{
          float: left;
          width: 140px;
          line-height: 45px;
          font-size: 12px;
          color: #28241f;
        }
      }

    }
  }

  .memright{
    float: right;
    width: 385px;
    height: 425px;
    padding-left: 30px;
    .head{
      height: 25px;
      color: #889098;
      font-size: 12px;
      a{
        float: right;
        //margin-top: 4px;
        //margin-right: 5px;
        i{
          font-size: 12px;
          color: #d2d2d2;
        }
      }
    }
    .memberList{
      height: 400px;
      .roleItem{
        float: left;
        width: 355px;
        margin-bottom: 15px;
        height: 30px;

        .name{
          color: #28241f;
          float: left;
          width: 140px;
          line-height: 30px;
          font-size: 12px;
        }
        .email{
          color: #28241f;
          float: left;
          line-height: 30px;
          font-size: 12px;
        }
        a{
          float: right;
          margin-top: 3px;
          //margin-right: 5px;
          i{
            font-size: 12px;
            color: #d2d2d2;
          }
        }
      }
    }

  }
  .membottom{
    height: 70px;
    width: 100%;
    clear: both;
    padding-top: 30px;
    .add{
      height: 40px;
      width: 65px;
      float: right;
      background: #f6911a;
      margin-left: 45px;
      font-size: 14px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      border-radius: 2px;
      display: block;
      //margin-right: 20px;
    }
    .cancel{
      height: 40px;
      width: 65px;
      float: right;
      background: #fff;
      font-size: 14px;
      margin-left: 20px;
      color: #889098;
      line-height: 40px;
      text-align: center;
      border-radius: 2px;
      border: 1px solid #889098;
      display: block;

    }
    p{
      font-size: 12px;
      color: #889098;
      line-height: 40px;
      float: right;
      i{
        font-size: 16px;
        color: #f6911a;
      }
    }
  }
}